@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: '';
}
.gradient-text {
  background: linear-gradient(-45deg, #2c83fb, #1f76f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container {
  margin: 0 auto;
  padding: 0 0.75rem;
}
.shape {
  position: absolute;
  width: 900px;
  height: 900px;
  left: -75%;
  top: 35%;
  border-radius: 8%;
  background: #f2f9ff;
  transform: rotate(-135deg);
}